@using UFF.Monopoly.Entities
@inherits ComponentBase

@if (Block is not null)
{
    if (Block.Type == BlockType.Chance && PendingActionKind == PendingActionKind.Chance)
    {
        <div>Você recebeu <strong>R$ @PendingAmount</strong> da banca.</div>
    }
    else if (Block.Type == BlockType.Tax && PendingActionKind == PendingActionKind.Tax)
    {
        <div>Pagamento de taxa: <strong>R$ @PendingAmount</strong></div>
    }
    else if (Block.Type == BlockType.Reves && PendingActionKind == PendingActionKind.Reves)
    {
        if (PendingBackSteps > 0)
        {
            <div>Revés: você deverá voltar <strong>@PendingBackSteps</strong> casas ao fechar.</div>
        }
        else
        {
            <div>Revés: você pagará <strong>R$ @PendingAmount</strong> à banca.</div>
        }
    }
    else if (Block.Type == BlockType.Go && PassedGo)
    {
        <div>Você passou pelo início e recebeu <strong>R$ @GoSalary</strong>.</div>
    }
    else if (Block.Type == BlockType.GoToJail)
    {
        <div>Você foi enviado para a prisão.</div>
    }
    else if (Block.Type != BlockType.Property && Block.Type != BlockType.Company)
    {
        <div>@Block.Description</div>
    }
}

@code {
    [Parameter] public Block? Block { get; set; }
    [Parameter] public PendingActionKind PendingActionKind { get; set; }
    [Parameter] public int PendingAmount { get; set; }
    [Parameter] public int PendingBackSteps { get; set; }
    [Parameter] public int GoSalary { get; set; }
    [Parameter] public bool PassedGo { get; set; }
}
