@page "/play/{GameId:guid}"

@using Microsoft.EntityFrameworkCore
@using UFF.Monopoly.Data
@using UFF.Monopoly.Data.Entities
@using UFF.Monopoly.Models
@using UFF.Monopoly.Repositories
@using UFF.Monopoly.Entities
@using UFF.Monopoly.Components.Pages.BoardBuilders
@using UFF.Monopoly.Components.Shared

<div class="mt-0 d-flex align-items-md-center justify-content-center full-center-wrapper play-container" style="min-height:100vh;">
    <div class="board-shell d-inline-block" style="position:relative;">
        @if (_loading)
        {
            <div class="p-4">Carregando...</div>
        }
        else if (_game is null)
        {
            <div class="p-4">Jogo não encontrado.</div>
        }
        else
        {
            <GameBoard BoardWidthCss="@_boardWidthCss" BoardHeightCss="@_boardHeightCss">
                @if (!string.IsNullOrWhiteSpace(_boardCenterImageUrl))
                {
                    <div class="board-center-bg"><img src="@_boardCenterImageUrl" alt="bg" /></div>
                }
@*                 <div class="round-badge">Rodada: @_game.RoundCount</div>
 *@                <div class="turn-badge">Vez: @_game.Players.ElementAtOrDefault(_game.CurrentPlayerIndex)?.Name</div>
                @if (!_showDiceOverlay)
                {
                    <img src="@_mouthImageUrl" style="@_centerCharStyle" alt="personagem" />
                    <button style="@_speedBtnStyle" @onclick="OnChatClicked" title="Apressar texto">&gt;&gt;</button>
                    <div style="@_chatContainerStyle" @onclick="OnChatClicked">
                        <div style="@_chatTextStyle">@_chatMessage</div>
                    </div>
                }
                @foreach (var space in BoardSpaces)
                {
                    <BoardSpace Space="space" OnClick="@(EventCallback.Factory.Create<BoardSpaceDto>(this, s => HandleClick(s)))" />
                }
                <BoardPawnLayer Game="@_game"
                                PawnAnimPosition="@_pawnAnimPosition"
                                CellSize="@CellSize"
                                BoardScale="@_boardScale"
                                Perimeter="@Perimeter"
                                PawnIndexes="@_pawnsForPlayers"
                                DefaultPawnUrl="@PawnUrl"
                                PawnUrlResolver="@_pawnUrlResolver"
                                GutterX="@_gutterX"
                                GutterY="@_gutterY" />
                @if (_showDiceOverlay)
                {
                    var diceImgSize = Math.Max(24, (int)(CellSize * 0.6 * _boardScale)) + "px";
                    var gifSize = Math.Max(64, (int)(CellSize * 1.6 * _boardScale)) + "px";
                    var gifOffsetPx = -(int)(CellSize * 0.6 * _boardScale);
                    var diceOffsetPx = (int)(CellSize * 0.8 * _boardScale);
                    var gifOffset = gifOffsetPx + "px";
                    var diceOffset = diceOffsetPx + "px";
                    <DiceOverlay Show="@_showDiceOverlay"
                                 Die1Url="@($"{Navigation.BaseUri}images/dice/diceGreen{_diceFace1}.png")"
                                 Die2Url="@($"{Navigation.BaseUri}images/dice/diceGreen{_diceFace2}.png")"
                                 RollingGifUrl="@_rollingGifUrl"
                                 DiceImgSize="@diceImgSize"
                                 GifSize="@gifSize"
                                 GifOffset="@gifOffset"
                                 DiceOffset="@diceOffset" />
                }
                <BlockModal Show="@(_showBlockModal && _modalBlock is not null && _modalPlayer is not null)"
                            Block="@_modalBlock" Player="@_modalPlayer" TemplateEntity="@_modalTemplateEntity" BaseZ="20000" OnClose="CloseBlockModal">
                    @if (_modalBlock is not null && _modalPlayer is not null)
                    {
                        <BlockActionContent Block="@_modalBlock"
                                            Player="@_modalPlayer"
                                            TemplateEntity="@_modalTemplateEntity"
                                            CanUpgradeAllowed="@(_modalBlock is PropertyBlock pb && CanUpgradeAllowed(pb))"
                                            NextUpgradeCost="@(_modalBlock is PropertyBlock pb2 ? GetNextUpgradeCost(pb2) : 0)"
                                            OnBuy="OnBuyPropertyAsync"
                                            OnUpgrade="OnUpgradeAsync"
                                            OnSell="OnSellPropertyAsync"
                                            GetBuildingImage="@( (UFF.Monopoly.Entities.BuildingType cat, int level) => BoardBuilder.GetBuildingImage(cat, level) )">
                            <BlockEventContent Block="@_modalBlock"
                                               PendingActionKind="@_pendingActionKind"
                                               PendingAmount="@_pendingAmount"
                                               PendingBackSteps="@_pendingBackSteps"
                                               GoSalary="@Game.GoSalary"
                                               PassedGo="@(_game.PassedGoThisMove)" />
                        </BlockActionContent>
                    }
                </BlockModal>

                <VictoryDefeatPopup Show="@_showLoserModal" IsVictory="false" IsEveryoneDefeated="@_everyoneDefeated" LoserName="@_loserName" BaseZ="22000" OnRestartGame="EventCallback.Factory.Create(this, RestartGameAsync)" OnBackToMenu="EventCallback.Factory.Create(this, BackToMenuAsync)" />
                <VictoryDefeatPopup Show="@_showWinnerModal" IsVictory="true" IsEveryoneDefeated="false" WinnerName="@_winnerName" BaseZ="23000" OnRestartGame="EventCallback.Factory.Create(this, RestartGameAsync)" OnBackToMenu="EventCallback.Factory.Create(this, BackToMenuAsync)" />

                @if (_game is not null && !_showDiceOverlay && _hudLocked)
                {
                    <PlayersPanel Players="@_game.Players"
                                  CurrentPlayerIndex="@_game.CurrentPlayerIndex"
                                  PawnUrlResolver="@_pawnUrlResolver"
                                  HudStyle="@_playersHudStyle"
                                  ShowRollButton="@(IsPlayerTurn && !HasRolledThisTurn && CanRollDice && _dialogueQueue.Count == 0 && !_isTypingChat)"
                                  ShowEndTurnButton="@CanEndTurn"
                                  OnRollDice="EventCallback.Factory.Create(this, RollForCurrentPlayer)"
                                  OnEndTurn="EventCallback.Factory.Create(this, EndTurn)" />
                }
            </GameBoard>
            @if (_showBotActionToast)
            {
                <div class="bot-toast-wrapper">
                    <BotToast Show="@_showBotActionToast" Message="@_botActionMessage" />
                </div>
            }
        }
    </div>
</div>

@code { }
